.thumbnail {
  display: flex;
  img {
    width: 168px;
  }
  h3 {
    font-size: 16px;
  }
  h3, p {
    margin: 0;
    padding: 0;
  }
  .thumbnail-views {
    font-size: 14px;
  }
}
.video-player {
  display: flex;
  margin: auto;
}
button {
  background: #d0021b;
  color: #fff;
  border: none;
  padding: 10px 20px;
}
.video-container {
  padding: 8px 0 0 0;
  .video-container__title {
    margin: 20px 0;
  }
}
.video-container-footer {
  .date_added {
    margin: 0 0 10px 0;
  }
  .video-conntainer__channel-info {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.video-list {
  .card {
    width: 100%;
    .card__title {
      position: relative;
      width: 100%;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
      }
      & > span {
        position: relative;
        z-index: 2;
      }
    }
  }
}
